h1 {
color: rgb(148, 146, 146);
text-align: center;
}

body{
background-color: #1B2838;
}

p{
color: rgb(148, 146, 146);
font-size: 25px;
}

#imagemprincipal {
width: 600px;
height: 350px;
border: 5px solid black;
padding: 20px;
margin-left: 25%;
}

#imagem2 {
width: 600px;
height: 350px;
border: 5px solid black;
 }

#imagem3 {
width: 600px;
height: 350px;
border: 5px solid black;
}
        
 #imagem4 {
width: 600px;
height: 350px;
border: 5px solid black;
 }

#imagem5 {
width: 600px;
height: 350px;
border: 5px solid black;
}
                
#imagem6 {
width: 600px;
height: 350px;
border: 5px solid black;
}

#imagem7 {
width: 600px;
height: 350px;
border: 5px solid black;
}

#imagem8 {
width: 600px;
height: 350px;
border: 5px solid black;
}

#imagem9 {
width: 600px;
height: 350px;
border: 5px solid black;
}

#imagem10 {
width: 600px;
height: 350px;
border: 5px solid black;
}